.cities-jumbotron {
  background-image: url('../static_resources/citiesbackground.png');
  background-size: cover;
  min-height: 325px;
  background-repeat: no-repeat;
}

.cities-header{
  padding-bottom: 0px;
}

.container {
  width: 100%;
}

.cities-card {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.center-nav {
  width:30%;
  margin-left: 42%;
}

.Background {
  background: linear-gradient(45deg, hsl(220, 13%, 82%) 12%, transparent 0, transparent 88%, hsl(220, 13%, 82%) 0),
    linear-gradient(135deg, transparent 37%, hsl(227, 8%, 77%) 0, hsl(227, 8%, 77%) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, hsl(220, 13%, 82%) 0, hsl(220, 13%, 82%) 63%, transparent 0) hsl(222, 14%, 85%);
    background-size: 25px 25px;
}
